@using loginreg.Models.Forms
@model Login

<h1>Log In to my dope site</h1>

<a href="/">Register</a>

<form asp-action="Login" asp-controller="Home" method="post">
	<span asp-validation-for="Email"></span>
	<label asp-for="Email"></label>
	<input asp-for="Email">

	<span asp-validation-for="Password"></span>
	<label asp-for="Password"></label>
	<input asp-for="Password">

	<button type="submit">Log In</button>
</form>